/* 노말라이즈 */
ul,
li,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
}



/* 커스텀 */

/* 슬라이더 1 시작 */
.slider-1 {
    height: 500px;
    position: relative;
    background-color: beige;
}

/* 슬라이더 1 - 페이지 버튼 */
.slider-1>.page-btns {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.slider-1>.page-btns>div {
    width: 20px;
    height: 20px;
    background-color: white(3, 1, 1);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}

.slider-1>.page-btns>div.active {
    background-color: gray;
}

/* 슬라이더 1 - 슬라이드 */

.slider-1>.slides>div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-1>.slides>div.active {
    opacity: 1;
}

/* 슬라이더 좌우 버튼 */
.slider-1>.side-btns>div {
    position: absolute;
    top: 38%;
    left: 0;
    width: 10%;
    height: 30%;
    cursor: pointer;
}

.slider-1>.side-btns>div:last-child {
    left: auto;
    right: 0;
}

.slider-1>.side-btns>div>span {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translatey(-50%);
    background-color: white;
    opacity: 0.5;
    padding: 1px 13px;
    border-radius: 50px;
    font-size: 25px;
}

.slider-1>.side-btns>div:last-child>span {
    left: auto;
    right: 20px;
}


.about_section {
    width: 100%;
    float: left;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-6 {
    padding-right: 15px;
    padding-left: 15px;
}

.about_section {
    text-align: center;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.card_box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}

.card_head h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.about_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_section .box .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 25px;
}

.about_section .box .img-box img {
    width: 400px !important;
}
.img-box-h img{
    width: 200px !important; 
    height: auto;
}
.detail-box p {
    margin-top: 0;
    margin-top: 1rem;
}



