<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css\menu_bar.css">
    <script src="js\menu_bar.js" defer></script>
    <script src="https://kit.fontawesome.com/7bb20b58e4.js" crossorigin="anonymous"></script>
    <title>Contact</title>

    <meta property="og:title" content="Contact" />
    <meta property="og:description" content="Contact" />
    <meta property="og:image"
        content="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDNfNTkg/MDAxNjI3OTczMDIzNDg4._i6YXj9ap-3C_c0JrciGZSxesNb67DZQxkW0xRXEFiEg.O1gjXgMLIHM-6btALHjDEFkzW8KkxvNABmT5DrsGvb8g.PNG.shine4436/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2021-08-03_%EC%98%A4%ED%9B%84_3.43.41.png?type=w800" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <style>
        * {
            font-family: "Noto Serif KR", serif;
        }
        
        .rtn_qna{
            text-align:  center;
        }

        .mypost {
            width: 150%;
            max-width: 1000px;
            margin: 20px auto 20px auto;
            box-shadow: 0px 0px 3px 0px black;
            padding: 50px;
        }

        .mybtns {
            text-align:  center;          
        }

        .mycards {
            width: 95%;
            max-width: 500px;
            margin: auto;
        }

        .mycards>.card {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .rtn_qna>a {
            text-align: left;
            text-decoration: none;
            color: black;
            font-size: 30px;
        }
    </style>
    <script>
        $(document).ready(function () {

        });


        function send() { // 메일 보내기
            let comment = $('#comment').val()
            let name = $('#name').val()
            let Email = $('#email').val()
            if (!comment) {
                return alert("문의 내용을 입력하세요");
            } else {
                if (comment.length <= 1) {
                    return alert("문의 내용이 짧습니다.\n 적어도 20글자 이상 입력해주십시오 \n Typing :" + comment.length)
                }
            }
            if (!name) {
                return alert("이름을 입력하세요");
            } else {
                if (name.length < 2) {
                    return alert("성과 이름을 입력해 주세요");

                }
            }
            if (!Email || !Email.includes('@')) {
                return alert("이메일 입력하세요 또는 형식이 올바르지 않습니다");
            }

            let formData = new FormData();
            formData.append("comment", comment);
            formData.append("name", name);
            formData.append("email", email);

            fetch('/contact', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]);
                window.location.reload()

            });
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-regular fa-credit-card"></i>
            <a href="main.html">Card</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="famous_card.html">인기카드</a></li>
            <li><a href="find_card.html">카드 찾기</a></li>
            <li><a href="card_rec.html">개발자 카드 추천</a></li>
            <li><a href="FAQ.html">FAQ</a></li>
        </ul>
        <a href="#" class="navbar_icons">
            <li><i class="fa-brands fa-instagram"></i></li>
        </a>
        <a href="#" class="navbar_toogleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
    <div class="mypost" id="post-box">
        <div class="form-floating mb-3">
            <input id="email" type="email" class="form-control">
            <label>E-Mail</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="url" />
            <label for="floatingInput">이름</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                style="height: 200px"></textarea>
            <label for="floatingTextarea2">문의내용</label>
        </div>
        <div class="mybtns">
            <button onclick="send()" type="button" class="btn btn-dark">보내기</button>
            <button onclick="window.location.reload()" type="button" class="btn btn-outline-dark">초기화</button>
        </div>
    </div>
    <div class="rtn_qna">
        <a href="FAQ.html">QnA로 돌아가기</a>
    </div>

</body>

</html>