<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>카드 등록 - 카드 목록</title>

    <meta property="og:title" content="카드 등록" />
    <meta property="og:description" content="카드 등록 - 개발자" />
    <meta property="og:image"
        content="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDNfNTkg/MDAxNjI3OTczMDIzNDg4._i6YXj9ap-3C_c0JrciGZSxesNb67DZQxkW0xRXEFiEg.O1gjXgMLIHM-6btALHjDEFkzW8KkxvNABmT5DrsGvb8g.PNG.shine4436/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2021-08-03_%EC%98%A4%ED%9B%84_3.43.41.png?type=w800" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet" />
    <style>
        * {
            font-family: "Noto Serif KR", serif;
        }

        .mypic {
            width: 100%;
            height: 300px;

            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                url("https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDNfNTkg/MDAxNjI3OTczMDIzNDg4._i6YXj9ap-3C_c0JrciGZSxesNb67DZQxkW0xRXEFiEg.O1gjXgMLIHM-6btALHjDEFkzW8KkxvNABmT5DrsGvb8g.PNG.shine4436/%EC%8A%A4%ED%81%AC%EB%A6%B0%EC%83%B7_2021-08-03_%EC%98%A4%ED%9B%84_3.43.41.png?type=w800");
            background-position: center 30%;
            background-size: cover;

            color: white;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px black;
            padding: 20px;
        }

        .mypost>button {
            margin-top: 15px;
        }

        .mycards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }

        .mycards>.card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: wheat;
            /* color:inherit; 해도 됩니다. */
        }

        div {
            text-align: center;
        }

        div>a {
            font-size: 4rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        /* section를 목록(list)이라고 보시면 됩니다. */
        section {
            display: block;
            text-align: center;
            font-weight: bold;
        }

        /* section > nav를 항목(list-item)이라고 보시면 됩니다. */
        section>nav {
            display: inline-block;
            width: 120px;
        }

        /* section > nav > a를 항목 텍스트라고 보시면 됩니다. */
        section>nav>a {
            /* 이렇게 해야 버튼에 빈 공백이 생기지 않는다. */
            display: block;
        }

        section>nav:hover>a {
            color: red;
        }
    </style>
    <script>
        $(document).ready(function () {
            set_temp()
            show_cards()
        });
        function set_temp() { // 온도 표기
            fetch("http://spartacodingclub.shop/sparta_api/weather/seoul").then((res) => res.json()).then((data) => {
                let temp = data['temp'] // 온도 받아오기
                //$('#temp').empty()
                //temp_html = `${temp}`
                //$('#temp').append(temp_html)
                $('#temp').text(temp) // 온도 Setting
            });
        }
        
        function find_cards() { // 카드찾기
            let company = $('#company').val()
            let pdc = $('#PDC').val() // 포인트 / 할인형

            let formData = new FormData();
            formData.append("company", company);
            formData.append("pdc", pdc);

            fetch('/findcards', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]);
            });

            $('#cards-box').empty() // 초기화

            fetch('/findcards').then((res) => res.json()).then((data) => {
                $('#cards-box').empty()
                let rows = data['result']
                rows.forEach((a) => {

                    let company = a['Company'] // 카드사
                    let cardname = a['Card_Name'] // 카드 이름
                    let pdc = a['PDC'] // 적립형 or 할인 = 수기
                    let benefit = a['Benefit'] // 카드 혜택
                    let innate_number = a['Innate_number'] // 카드 고유 번호 = 수기
                    let use_ex = a['Use_Ex'] // 카드 사용 예시 = 수기
                    let rec = a['REC'] // 카드 추천
                    let Notice = a['Notice'] // 카드 주의사항(주요)
                    let card_img = a['card_img'] // 카드 이미지
                    let MF = a['MF'] // 연회비
                    let using = a['using']
                    html_text = ``
                    if (rec) {
                        html_text = `<div class="col">
                                        <div class="card h-100">
                                            <img src="${card_img}"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${cardname}</h5>
                                                <p>${MF}</p>
                                                <strong>⭐개발자 추천 카드⭐</strong>
                                                <p class="card-text">${benefit}</p>
                                                <p>${Notice}</p>
                                                <p>${using}<p>
                                            </div>
                                        </div>
                                    </div>`

                    } else {
                        html_text = `<div class="col">
                                        <div class="card h-100">
                                            <img src="${card_img}"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${cardname}</h5>
                                                <p>${MF}</p>                                                
                                                <p class="card-text">${benefit}</p>
                                                <p>${Notice}</p>
                                                <p>${using}<p>
                                            </div>
                                        </div>
                                    </div>`
                    }
                    $('#cards-box').append(html_text)
                });
            })
        }
        
        function modi_card() { // 카드 수정
            let company = $('#company').val()
            let cardname = $('#cardname').val()
            let pdc = $('#PDC').val() // 포인트 / 할인형
            let benefit = $('#benefit').val() // 혜택
            let innate_number = $('#innate_number').val() // 고유번호
            let use_ex = $('#use_ex').val() // 사용 예시
            let REC = $('#REC').val() // 개발자 추천카드
            let Notice = $('#Notice').val() // 주의사항
            let MF = $('MF').val() // 연회비 Membership Fee
            let pic_url = $('#pic_url').val() // 추가 사항
            let using = $('#using').val()

            let formData = new FormData();
            formData.append("company", company);
            formData.append("pdc", pdc);
            formData.append("pic_url", pic_url)
            formData.append("cardname", cardname);
            formData.append("MF", MF)
            formData.append("REC", REC)
            formData.append("benefit", benefit);
            formData.append("Notice", Notice);
            formData.append("use_ex", use_ex);
            formData.append("innate_number", innate_number);
            formData.append("using", using)

            fetch('/modify', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]);
                window.location.reload()

            });
        }
        
        function del_card() { // 카드 삭제
            let innate_number = $('#innate_number').val() //카드 고유 번호 저장

            let formData = new FormData();
            formData.append("innate_number", innate_number);

            fetch('/delcard', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]);
                window.location.reload()
            });

        }

        function bring_card() { // 카드 정보 로드하기(크롤링)
            fetch('/find_inquiries').then((res) => res.json()).then((data) => {// 수정 필요
                // $('#card-list').empty()
                let rows = data['result']
                rows.forEach((a) => {
                    let cardname = a['Card_Name']
                    let Benefits = a['Benefits']
                    let pic_url = a['pic_url']

                    $('#Benefit').val(Benefits) // 혜택란에 넣기
                    $('#card_name').val(cardname) 
                    if (pic_url) {
                        $('#pic_url').val(pic_url)
                    }
                });
            })
        }
        
        function find_inquiries() { // url을 이용한 카드 조회
            // 카드 이름, 혜택까지만
            let card_url = $('#card_url').val()

            let formData = new FormData();
            formData.append("card_url", card_url);

            fetch('/find_inquiries', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]); // -> 불러오는중
                //window.location.reload()

            });
            bring_card()
        }

        function save_card() { // 카드 저장
            let card_url = $('#card_url').val() // 카드 상세 홈페이지
            let company = $('#company').val() // 카드 사
            let cardname = $('#cardname').val() // 카드 이름
            let pdc = $('#PDC').val() // 포인트 / 할인형
            let benefit = $('#benefit').val() // 혜택
            let innate_number = $('#innate_number').val() // 고유번호
            let use_ex = $('#use_ex').val() // 사용 예시
            let REC = $('#REC').val() // 개발자 추천카드
            let Notice = $('#Notice').val() // 주의사항
            let MF = $('MF').val() // 연회비 Membership Fee
            let pic_url = $('#pic_url').val() // 추가 사항
            let using = $('#using').val() // 전월이용금액

            let formData = new FormData();
            formData.append("company", company);
            formData.append("pdc", pdc);
            formData.append("pic_url", pic_url); // 카드 사진
            formData.append("cardname", cardname);
            formData.append("MF", MF); // 연회비
            formData.append("REC", REC); // 추천
            formData.append("benefit", benefit);
            formData.append("Notice", Notice); // 주요 주의사랑
            formData.append("use_ex", use_ex); // 카드 사용 예시
            formData.append("innate_number", innate_number); // 카드 고유 번호
            formData.append("using", using);// 전월 이용 금액
            formData.append("card_url", card_url); // 카드 상세 홈페이지

            fetch('/Savecard', { method: "POST", body: formData, }).then((res) => res.json()).then((data) => {
                //console.log(data)
                alert(data["msg"]);
                window.location.reload()

            });
        }
        
        function show_cards() { // 모든 카드 보이기
            fetch('/All_Card').then((res) => res.json()).then((data) => {

                $('#cards-box').empty()

                let rows = data['result']

                rows.forEach((a) => {

                    let company = a['Company']
                    let cardname = a['Card_Name']
                    let pdc = a['PDC']
                    let benefit = a['Benefit']
                    let innate_number = a['Innate_number']
                    let use_ex = a['Use_Ex']
                    let rec = a['REC']
                    let Notice = a['Notice']
                    let card_img = a['card_img']
                    let MF = a['MF']
                    let pic_url = a['pic_url'] // 추가 사항
                    let using = a['using'] // 전월 이용 금액
                    html_text = ``

                    if (rec) {
                        html_text = `<div class="col">
                                        <div class="card h-100">
                                            <img src="${card_img}"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${cardname}</h5>
                                                <p>${MF}</p>
                                                <strong>⭐개발자 추천 카드⭐</strong>
                                                <p class="card-text">${benefit}</p>
                                                <p>${Notice}</p>
                                                <p>${using}<p>
                                            </div>
                                        </div>
                                    </div>`

                    } else {
                        html_text = `<div class="col">
                                        <div class="card h-100">
                                            <img src="${card_img}"
                                                class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${cardname}</h5>
                                                <p>${MF}</p>                                                
                                                <p class="card-text">${benefit}</p>
                                                <p>${Notice}</p>
                                                <p>${using}<p>
                                            </div>
                                        </div>
                                    </div>`
                    }
                    $('#cards-box').append(html_text)
                });
            })
        }
    </script>
</head>

<body>
    <div class="mypic">
        <div><a href="">Title</a></div>
        <section>
            |
            <nav><a href="M_RES.html"><strong>카드 등록</strong></a></nav>
            |
            <nav><a href="M_faq.html">FAQ</a></nav>
            |
            <nav><a href="M_contact.html">1:1 문의 메세지</a></nav>
            |
            <nav><a href="">추가 요망</a></nav>
            |
        </section>
    </div>
    <div class="mypost">
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">개발자 추천</label>
            <select class="form-select" id="REC">
                <option selected>-- 선택하기 --</option>
                <option value="1">O</option>
                <option value="2">X</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect02">카드사</label>
            <select class="form-select" id="SELECT">
                <option selected>-- 선택하기 --</option>
                <option value="1">삼성</option>
                <option value="2">신한</option>
                <option value="3">현대</option>
                <option value="4">우리</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">PDC</label>
            <select class="form-select" id="PDC">
                <option selected>-- 선택하기 --</option>
                <option value="1">Point</option>
                <option value="2">Discount</option>
            </select>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="card_url" placeholder="url" />
            <label for="floatingInput">Card_URL</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pic_url" placeholder="url" />
            <label for="floatingInput">Pic_URL</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="card_name" placeholder="url" />
            <label for="floatingInput">카드 이름</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="month_money" placeholder="using" />
            <label for="floatingInput">전월 이용 금액</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave Notices here" id="Benefit"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">혜택</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave Notices here" id="Benefit"
                style="height: 100px">전월 이용금액 포함: 전월 이용금액 미포함:</textarea>
            <label for="floatingTextarea2">주의사항</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave EXs here" id="use_ex" style="height: 100px"></textarea>
            <label for="floatingTextarea2">사용 예시</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" placeholder="Membership_fee" id="MF" style="height: 100px"></textarea>
            <label for="floatingTextarea2">연회비</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="innate_number" placeholder="url" />
            <label for="floatingInput">카드 고유 번호</label>
        </div>
        <button onclick="find_inquiries()" type="button" class="btn btn-dark">
            URL 조회
        </button>
        <button onclick="find_cards()" type="button" class="btn btn-dark">
            카드 조회
        </button>
        <button onclick="save_card()" type="button" class="btn btn-dark">
            카드 등록
        </button>
        <button onclick="modi_card()" type="button" class="btn btn-dark">
            카드 수정
        </button>
        <button onclick="del_card()" type="button" class="btn btn-dark">
            카드 삭제
        </button>

    </div>
    <div class="mycards">
        <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.shinhancard.com/pconts/images/contents/card/plate/cdCreditAXFBZE.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">카카오뱅크 신한카드</h5>
                        <p>비자: 18000, 국내 15000</p>
                        <strong>⭐개발자 추천 카드⭐</strong>
                        <p class="card-text">10번 결제당 캐시백, 배달, 택시</p>
                        <p>전월 이용금액 포함:세금 공과금 등</p>
                        <p>전월 이용금액 미포함: 상품권 등</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://static11.samsungcard.com/wcms/home/scard/image/personal/IDON_AAP1731.gif"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">삼성 ID ON 카드</h5>
                        <p>비자: 18000, 국내 15000</p>
                        <p class="card-text">많이 쓰는 영역, 교통 통신 스트리밍, 간편결제</p>
                        <p>전월 이용금액 미포함:세금 공과금 할인이 적용된 이용금액, 상품권 등</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://img1.kbcard.com/ST/img/cxc/kbcard/upload/img/product/09174_img.png"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">청춘대로 톡톡카드</h5>
                        <p>비자: 18000, 국내 15000</p>
                        <p class="card-text">스타벅스, 페스트푸드, 간편결제</p>
                        <p>전월 이용금액 미포함:세금 공과금 할인이 적용된 이용금액, 상품권 등</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>